@{
    ViewBag.Title = "Home Page";
}


<div class="row" style="margin-top:80px;">
   
    <div class="col-lg-8 col-lg-offset-2">

        <label>Token Log In</label>

        <form class="well" action="~/Home/TokenLogin" method="post">

            <label><small>Token</small></label>
            <input type="text" name="token" value="" class="form-control" />           
            <br />
            <input type="submit" name="" value="Verify" class="btn btn-primary">

        </form>        

    </div>
</div>