@model Mini_Blog_Engine.ViewModels.PublishedPostListViewModel

@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Admin Dashboard</h2>

<div class="row">
    <div>
        @foreach (var post in Model.ListPost)
        {
            <div class="card">
                <h2>@post.Title</h2>
                <h5>@post.Description</h5>
                <p>@post.Content</p>
            </div>
        }
    </div>
</div>