
@model Mini_Blog_Engine.ViewModels.PublishedPostListViewModel

@{

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link href="~/Content/dashboard.css" rel="stylesheet" type="text/css" />
}

<div class="row">
    <div>
        @foreach (var post in Model.ListPost)
        {
        <div class="card">
            <h2>@post.Title</h2>
            <h5>@post.Description</h5>
            <button onclick="URL." >Detail Ansicht</>
            <p>@post.Content</p>
        </div>
        }
    </div>
</div>

<div class="footer">
    <h2>Entwickelt von Manuel Prieto und Reto Bürgisser</h2>
</div>


