@{
    ViewBag.Title = "Home Page";
}


<div class="row" style="margin-top:80px;">
   
    <div class="col-lg-8 col-lg-offset-2">

        <h2>Log In</h2>

        <form class="well" action="./Home/Login" method="post">

            <label><small>Username</small></label>
            <input type="text" name="username" value="" class="form-control" />
            <br />
            <label><small>Password</small></label>
            <input type="password" name="password" value="" class="form-control" />
            <br />

            <input type="submit" name="" value="Log In" class="btn btn-primary">

        </form>        

    </div>
</div>